@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #FFBB1C;
    --primary-color-darker: #BC8401;
    --secondary-color: #F2F4F5;
    --text-color: #02314D;
    --bg-color: #045C94;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

body {
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 50px auto;
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 50%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.container p {
    padding: 10px;
    margin: 10px;
}

button {
    width: auto;
    height: auto;
    margin: 20px 5px;
    border-radius: 6px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.start, .pause {
    display: none;
}

button.active {
    display: inline;
}

button:hover {
    background-color: var(--primary-color-darker);
}

.timer {
    font-size: 3em;
}

.timer-paused {
    color: red;
    -webkit-animation: blink-1 1.5s infinite both;
    animation: blink-1 1s infinite both;
}

@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}